* {
	margin: 0;
	padding: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: background-color 1s;
}
html.theme_dark, html.theme_dark body {
	background-color: #000;
}

section {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

p#timer {
	font-family: monospace; /* use a monospace font for consistent width! */
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	white-space: nowrap;
	color: #000;
	transition: color 1s;
}
#timer spam {
	transition: color 1s;
}
p#timer.clock {
	color: #666;
}
p#timer.ending {
	color: #400;
}
#timer.theend #seconds {
	color: #f00;
	-webkit-animation: secpulsate 2s infinite;
	-moz-animation: secpulsate 2s infinite;
	-ms-animation: secpulsate 2s infinite;
	animation: secpulsate 2s infinite;
}

p#info {
	font-family: "Ubuntu", -apple-system, "Oxygen", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	text-align: right;
	white-space: nowrap;
	font-size: 18px;
	color: #bbb;
	transition: color 1s;
}
#info a {
	text-decoration: none;
	color: #aaa;
	transition: color 200ms;
}
#info a:hover {
	color: #966;
}
p#period {
	font-family: "Ubuntu", -apple-system, "Oxygen", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	text-align: center;
	white-space: nowrap;
	font-size: 20px;
	color: #888;
	transition: color 1s;
}

.theme_dark p#timer {
	color: #fff;
}
.theme_dark p#timer.clock {
	color: #aaa;
}
p#timer.ending {
	color: #fbb;
}
.theme_dark #timer.theend #seconds {
	color: #f00;
	-webkit-animation: secpulsate 2s infinite;
	-moz-animation: secpulsate 2s infinite;
	-ms-animation: secpulsate 2s infinite;
	animation: secpulsate 2s infinite;
}
.theme_dark p#info {
	color: #555;
}
.theme_dark #info a {
	color: #777;
}
.theme_dark #info a:hover {
	color: #b99;
}
.theme_dark p#period {
	color: #888;
}


@-webkit-keyframes secpulsate {
	0% {color: #fff;}
	50% {color: #f00;}
	100% {color: #fff;}
}
@-moz-keyframes secpulsate {
	0% {color: #fff;}
	50% {color: #f00;}
	100% {color: #fff;}
}
@-ms-keyframes secpulsate {
	0% {color: #fff;}
	50% {color: #f00;}
	100% {color: #fff;}
}
@keyframes secpulsate {
	0% {color: #fff;}
	50% {color: #f00;}
	100% {color: #fff;}
}