* {
	margin: 0;
	padding: 0;
}

body.theme_dark {
	background-color: #000;
}

p#timer/*, #timer span*/ {
	font-family: monospace;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	white-space: nowrap;
}

.theme_dark p#timer, .theme_dark #timer span {
	color: #fff;
}